.App {
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  margin-top: 115px;
  min-height: 84vh;
}

/* MEDIA QUERIES */

@media only screen and (min-width:600px) {
  .main-container {
    flex-direction: row;
  }
}

/* @media only screen and (min-width: 1200px) {
  .main-container {
    max-width: 1200px;
  }
} */